# =========[ Custom T-header(logo with figlet) Setup ]=========
[version]
version=3.0
[Author]
author=Remo773
[contributor]
contributor=( remo773)
[logo]
logo=death.txt
indent=6
[PS1 PROMPT]
TNAME=
[Termux Properties]
termux_properties=4cdfa14baa881abb0a88e89c6a41fa2d9b414f5f3eeaee41bd376c2bf7b1f835
[title]
title=NIROSHA SANDARUWAN
